<div class="container">
    <header id="mainHeader" class="d-flex flex-row">
        <div class="p-2">
            <a [routerLink]="['/home']" class="logo">
                <img src="../assets/images/desarrollo-software.1.png">
            </a>
        </div>
        <nav class="p-4 nav nav-pills flex-column flex-sm-row justify-content-end">
            <a class="nav-link active" [routerLink]="['/home']">Home</a>
            <a class="nav-link" [routerLink]="['/home']">Servicios</a>
            <a class="nav-link">Nosotros</a>
            <a class="nav-link">Contacto</a>
        </nav>
    </header>
    <router-outlet></router-outlet>
</div>